html, body{
    overflow-x: hidden;
}

*
{
    scroll-behavior: smooth;
}


header{
    position: relative;
    z-index: 100000;
}


.navbar{
    background: transparent !important;
    transition: 0.5s;
}

.navbar.scrolled{
    background: #000000 !important;
    transition: 0.5s;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:visited {
    color: rgba(255,255,255,1);
    font-size: 2.5rem;
    font-weight: 600;
}


.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #000000;
    background: #ffffff;
}

.navbar-dark .navbar-nav .nav-link.active:hover{
    color: #000000 ;
}



.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255,255,255,1);
}